.form-select{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.select{
  border: transparent;
  
}

button {
  padding: 0;
  border: 0;
  background: inherit;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.sound-content{
  display: inline-grid;
  justify-items: end;
}
.form-control{
  padding :5px;
  display: inline-grid;
}
::-webkit-scrollbar {
  display: none;
}
.content{
  display: inline-flex;
  flex-wrap: wrap;
   
  justify-content: flex-start;
}
.toggleAudio{
  margin: auto;
  
}

