.display-timer{
  display: flex; 
  justify-content:space-between;
  font-size: medium;
  font-weight: 500;
  opacity: 0.5;
}
.display-timer h1{
  font-size: medium;
  font-weight: 500;
}
.pomodoro {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  place-items: center;
  grid-gap: 12px;
  align-content: center;
  justify-content: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 150px;
}
.selectPomodoroBtn{  
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 4;
   width: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pomodoroTypes {
  margin: 5px;
  padding: 5px;
}

.buttons {
  grid-row-start: 3;
  grid-column-start: 2;
  align-items: center;
}

button {
  padding: 5px;
  margin: 5px;
}

.timer {
  padding: 5px;
  font-size: 3.0rem;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-items: center;
}

.settings {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
}

.stopAndReset{
 display:flex;
}

.settingsButton {
  margin-bottom: 70px;
}

button{
  padding: 5px;
  margin:5px 5px;

}
.info{
  width: fit-content;  
  margin-top: 20px;
  padding: 20px;
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.info div{
  width: 50%;
  
} 

.info h3{
  font-size: larger;
  margin-top: 2px;  
  border-radius: 0%;
}
